:root{
    --primary: #2a3f5f;
    --secondary: #506784;
    --border-color: #c8d4e3;
    --border-color-active: #a2b1c6;
    --background: #f2f5fa;
}
html, body{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}
.pvtDropdown {
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    margin: 3px;
}
.pvtDropdownCurrent {
    text-align: left;
    border: 1px solid #a2b1c6;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    width: 210px;
    box-sizing: border-box;
    background: #fff;
}

.pvtDropdownMenu {
    background: white;
    position: absolute;
    width: 100%;
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    border: 1px solid var(--border-color);
    border-top: 1px solid #dfe8f3;
    box-sizing: border-box;
}
.pvtDropdownValue {
    padding: 2px 5px;
    font-size: 12px;
    text-align: left;
    display: flex;
}
.pvtDropdownValue > input[type=checkbox]{
    margin: 0 5px 0 0;
}
.pvtDropdownValue:hover{
    background: var(--border-color)
}
.pivot-right .pvtAxisContainer{
    width: 100%;
    height: 50px;
}
.pvtAxisContainer{
    /*position: fixed;*/
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    z-index: 5;
    /*border-top: 1px solid var(--border-color);*/
    background: var(--background);
}
.pvtAxisContainer:nth-child(1){
    top:0;
}
.pvtAxisContainer:nth-child(2){
    top:50px;
}
.pvtAxisContainer:nth-child(3){
    top: 100px;
}
.pvtOutput{
    height: calc(100% - 110px);
    overflow-y: scroll;
    padding-right: 10px;
    margin-bottom: 10px;
    /*padding-top: 105px;*/
}
.pvtAxisContainer li {
    padding: 8px 6px;
    list-style-type: none;
    cursor: move;
}
.pvtOutputRows {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

 li span.pvtAttr {
    background: white !important;
}
li span.pvtAttr:hover{
    background: var(--border-color) !important;
}
.pvtHorizList{
    border-bottom: 1px solid var(--border-color);
}
.pvtHorizList li {
    display: inline-block;
}
.pvtAxisContainer li.pvtPlaceholder {
    -webkit-border-radius: 5px;
    padding: 3px 15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px dashed var(--border-color-active);
}
.pvtAxisContainer li.pvtPlaceholder span.pvtAttr {
    display: none;
}

table.pvtTable {
    width: 100%;
    background: #ffffff;
    /*font-size: 8pt;*/
    text-align: left;
    border-collapse: collapse;
    margin-top: 3px;
    margin-left: 3px;
}
table.pvtTable thead tr th,
table.pvtTable tbody tr th {
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    font-size: 14px;
    padding: 5px;
}

table.pvtTable .pvtColLabel {
    text-align: center;
}
table.pvtTable .pvtTotalLabel {
    text-align: right;
}

table.pvtTable tbody tr td {
    color: var(--primary);
    padding: 5px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    vertical-align: top;
    text-align: right;
}
.pvtAxisContainer li span.pvtAttr {
    -webkit-text-size-adjust: 100%;
    background: #f3f6fa;
    border: 1px solid var(--border-color);
    padding: 2px 5px 2px 5px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtFilterBox input {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--secondary);
    padding: 0 3px;
    font-size: 14px;
}

.pvtFilterBox input:focus {
    border-color: #119dff;
    outline: none;
}
.pvtRenderers{
    display: flex;
    height: 50px;
    align-items: center;
}

.pvtFilterBox {
    z-index: 100;
    width: 300px;
    border: 1px solid var(--secondary);
    background-color: #fff;
    position: absolute;
    text-align: center;
    user-select: none;
    min-height: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.pvtFilterBox h4 {
    margin: 15px;
}
.pvtFilterBox p {
    margin: 10px auto;
}
.pvtFilterBox button {
    color: var(--primary);
}
.pvtFilterBox input[type='text'] {
    width: 230px;
    height: 30px;
    color: var(--primary);
    margin-bottom: 5px;
}
.spacer{
    flex:1;
}
.pivot-app{
    display: flex;
    width: 100%;
    height: 100%;
}
.pivot-left{
    width: 256px;
    height: 100%;
    border-right: 1px solid var(--border-color);
    background: var(--background);
    position: fixed;
}
.pivot-left .pvtAxisContainer{
    position: initial;
}
.pivot-right{
    width: calc(100% - 256px);
    padding-left: 257px;
    height: 100%;
    background: var(--background)
}
.pivot-renderer{
    background: #ffffff;
    border-bottom: 1px solid var(--border-color);
}
.pvtCheckContainer {
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
    max-height: 30vh;
    border-top: 1px solid #dfe8f3;
}

.pvtTitleBar{
    height: 30px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--border-color);
}
.pvtTitleBar .pvtDragHandle{
    cursor: all-scroll;
}
.pvtTitleBar a{
    cursor: pointer;
}
.pvtTitleBar:hover{
    background-color: var(--border-color-active);
}
.pvtTitleBar h4{
    padding:0;
    margin:0;
}

.pvtCheckRow{
    display: flex;
    align-items: center;
}
.pvtCheckRow input{
    margin: 0;
    padding: 0;
}